body {
  font-family: sans-serif;
}

.palette {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.color-item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 90px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.error {
  color: red;
}
