* {
  box-sizing: border-box;
}

body{
display: flex;
justify-content: center;
}

form {
  background-color: bisque;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

#result {
  background-color: bisque;
  padding: 10px;
  border-radius: 5px;
  font-size: 25px;
  display: none;
}