{% extends 'base.html' %}
{% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
{% block content %}
<h1>My Posts</h1>
	<hr>
	{% for post in posts %}
		<div class="postBlock">
			<h2>{{ post.title }}</h2>
			<small>Published on {{ post.published_at | date:"M d, Y" }} by {{ post.author | title}}</small>
			<p>{{ post.content }}</p>
  			{% if request.user.is_authenticated %}
				<p>
					<a href="{% url 'post-edit' post.id %}"><button type="button" class="btn btn-primary">Редактировать</button></a>
					<a href="{% url 'post-delete' post.id %}"><button type="button" class="btn btn-danger">Удалить</button></a>
				</p>
  			{% endif %}
		</div>
		<hr>
	{% endfor %}
{% endblock content %}
